* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(0, 122, 156);
}

form{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

textarea {
    resize: none;
}

form button, form #submit{
    width: fit-content;
}